/**
 * generic style variable 
 */

$sub_height:90px;
$medium_weight : 700;
$small_medium_weight : 600;
$small_weight : 500;
$sub_head_color:#352E2C;
$medium_font :20px;
$small_font :13px;
$reg_font :14px;
$bg-color_back :#F8F7F4;
$normal_border : 4px;
$btn2-height:30px;
$btn2-width:156px;
$btn3-width:111px;
$line_height:16px;
$sub_title:#9B96A0;
$back-color:#FFFFFF;
$button-color:#BD8C5E;
