//this file contains the variables for spacing that will be used throughout the platform
$w-100:100;
$w-200:200;
$w-300:300;
$w-400:400;
$w-500:500;
$w-600:600;
$w-700:700;
$w-800:800;
$w-900:900;
$w-1000:1000;
