/**
 * this file contains styling for report
 */


.q-bar.report-head {
    background: transparent;
    height: $sub_height;
}

.report-head .text-h5 {
    font-weight: $medium_weight;
    font-size: $medium_font;
    color: $sub_head_color;
}

.add-custom {
    background: $bg-color_back !important;
    border-radius: $normal_border !important;
    width: $btn2-width !important;
    height: $btn2-height !important;
    font-weight: $medium_weight !important;
    font-size: $small_font !important;
    line-height: $line_height !important;
    display: flex !important;
    align-items: center !important;
    text-transform: capitalize !important;
    color: $primary !important;
    font-family: $family !important;
}

.add-report {
    border-radius: $normal_border !important;
    width: $btn2-width !important;
    height: $btn2-height !important;
    font-weight: $medium_weight !important;
    font-size: $small_font !important;
    line-height: $line_height !important;
    display: flex !important;
    align-items: center !important;
    text-transform: capitalize !important;
    font-family: $family !important;
}

.add-report .q-btn-dropdown__arrow {
    display: none !important;
}

.add-report .q-icon.on-left {
    margin-right: 2px !important;
}

.add-custom .q-btn-dropdown__arrow {
    display: none !important;
}

.add-custom .q-icon.on-left {
    margin-right: 2px !important;
}

.report-head .text-subtitle {
    font-weight: $small_weight;
    font-size: $small_font;
    color: $sub_title;
}

.report_add_section .q-tab {
    justify-content: left !important;
}

.report_add_section .q-tab.q-tab--active {
    color: $primary !important;
}

.form-input-report .q-field {
    // width: 330px !important;
    height: 44px !important;
    // background: #FFFFFF;
    // margin-bottom: 25px;
    // margin-right: 20px;

}

.form-input-report .q-field__label {
    /* font-size: 14px; */
    top: 10px;
    color: #9B96A0 !important;
    font-weight: $small_weight !important;
    font-size: $small_font !important;
    line-height: 12px !important;
}

.form-input-report .save-btn {
    width: 122px;
    background: $primary;
    border-radius: $normal_border;
    font-weight: $small_medium_weight;
    text-transform: capitalize !important;
    font-size: 14px;
    color: #fff;
}

.form-input-report .cancel-btn {
    background: #F8F7F4;
    border-radius: $normal_border;
    text-transform: capitalize !important;
    color: #5D5FEC;
    font-weight: $small_medium_weight;
    font-size: $reg_font;
    width: 122px;
    height: 38px;
}

.form-input-report .col-4 {
    padding-bottom: 15px;
}

.form-input-report {
    font-weight: $small_weight !important;
    font-size: $small_font !important;
    color: $sub_head_color !important;
}

.report-form .q-field__control {
    height: 46px !important;
}

.report-form .gender-class .q-field__control {
    width: 316px !important;
}

.report-form .q-field__label {
    font-weight: $small_weight;
    font-size: $small_font;
    text-transform: capitalize !important;
    color: $sub_title;
    margin-top: 6px;
}

.upload {
    background: #F1EEE9;
    border-radius: $normal_border;
    width: 77px;
    height: 30px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: $small_medium_weight;
    font-size: $small_font;
    line-height: 12px;
    color: $primary;
    padding: 9px 14px;
    margin-top: 19px;
}

.custom-option {
    background: $back-color !important;
    box-shadow: 0px 2px 10px rgb(93 87 86 / 12%) !important;
    border-radius: $normal_border !important;
    // height: 40px !important;
}

.q-menu>.q-item {
    margin-top: 200px;
}

.my-card .q-card__section--vert {
    padding: 0px !important;
}

.my-card.report-card {
    width: 234px !important;
    background: #FFFFFF !important;
    border: 1px solid #F1EEE9 !important;
    border-radius: 4px !important;
    margin-top: 10px;

}

.my-card.report-card img {

    height: 188px !important;
    width: 234px !important;
    border-radius: 4px 4px 0px 0px !important;

}

.action-report .q-btn-dropdown__arrow {
    display: none !important;
}

.custom-action {

    box-shadow: 0px 2px 12px rgba(93, 87, 86, 0.1);
    border-radius: 4px;
    width: 122px !important;
}

.custom-action .q-item {
    border-radius: 4px;
    /* position: relative; */
    left: 3.12%;
    right: 7.81%;
    top: 6.78%;
    bottom: 52.54%;
    width: 123px;
    font-weight: 600;
    font-size: 13px;
    color: #9B96A0;
    min-height: 26px;
}

.custom-action .q-item :hover {
    color: #5D5FEC;
}

.view_logs {
    background: $bg-color_back !important;
    border-radius: $normal_border !important;
    height: $btn2-height !important;
    line-height: $line_height !important;
    display: flex !important;
    align-items: center !important;
    text-transform: capitalize !important;
    font-family: $family !important;
}

.exapnsion_detail {
    background: #F7F6F3;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid $default-bg;
    border-radius: 4px;
}

.report_personal_detail label {
    color: $sub_head_color;
    margin-top: 20px;

}

.report_personal_detail span {
    margin-left: 5px;
}

.report_individual_detail p {
    color: $sub_head_color;

}

.report_individual_detail .detail_para {
    text-transform: capitalize;

}

.sibling_name label {
    width: 122px;
    height: 21px;
    background-color: #f7f6f2 !important;
    border-radius: 15px;
    padding: 4px 16px;
}