// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #5D5FEC;
$secondary : #F1EEE9;
$accent    : #9C27B0;
$dark      : #1D1D1D;
$positive  : #5EB229;
$negative  : #DF430E;
$info      : #9BA2FF;
$warning   : #FFA500;
$white : #FFFFFF;
$light:#f2f1f1;
$default-font:#484964;
$default-bg : #F2F2F7;
$screen-bg: #F9F9FC;
$family: 'Lato';
$heading:#352E2C;
$username: #5D5756;
$text-secondary:#9B96A0;
$secondary-light:#F1F1F6;
$textfield-options-bg:#F6F5F1;
$field-boder:#E2E0E2; 